body {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	text-align: center;
}

.list .input-bar {
	height: 25px;
	margin: 10px;
	outline: none;
}

.list .first-name {
	margin-top: 10px;
}
